h3.header {
  font-family: var(--font-mono);
}


.container {
  padding: 16px;
  display: flex;
}

.imageContainer {
  flex: 1;
  padding-right: 24px;
}

.profileContainer {
  flex: 3;
}

.icon {
  padding-right: 8px;
  vertical-align: middle;
}
img.profileImage {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}